body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

background-image: linear-gradient(to left, #cfc7f8 0%, #ebbba7 100%);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: sans-serif;
}
