.Msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.SenderMessage {
  background-color: #5593c5 !important;
}

.ReceiverMessage {
  background-color: #CCCCCC !important;
}

.SystemMessage {
  background-color: #ea4c89 !important;
}

.MsgInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.MsgInfoName {
  margin-right: 10px;
  font-weight: bold;
}

.MsgInfoTime {
  font-size: 0.85em;
}

/* .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  } */
